$animation-time: 0.2;
$statusbar-height: 26px;

*,
*:before,
*:after {
    -moz-user-select: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#kai-root {
    position: absolute;
    right: 0;
    top: $statusbar-height;
    left: 0;
    bottom: 0;
}