@use "sass:math";

$statusbar-height: 26px;
$view-header-height: 30px;
$softkey-height: 30px;
$animation-time: 0.25s;

*,
*:before,
*:after {
	-moz-user-select: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#kai-root {
	position: absolute;
	right: 0;
	top: $statusbar-height;
	left: 0;
	bottom: 0;
}

#kai-view-container {
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: $softkey-height;
	transition: opacity $animation-time linear, bottom $animation-time linear;
	border-bottom: 2px solid lime;

	 #kai-softkey-container.hidden ~ & {
		bottom: 0;
		border-bottom-color: red;
	}

	&.transitioning {
		opacity: 0;
	}

	.kai-view {
		position: relative;

		.kai-view-header {
			line-height: $view-header-height;
			height: $view-header-height;
		}

		.kai-view-content {
			position: absolute;
			right: 0;
			top: $view-header-height;
			left: 0;
			bottom: 0;
		}
	}
}

#kai-softkey-container {
	opacity: 1;
	background-color: #ccc;
	height: $softkey-height;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	transition: bottom $animation-time linear;

	&.hidden {
		bottom: -$softkey-height;
	}
}