@use "sass:math";

$statusbar-height: 26px;
$softkey-height: 30px;
$animation-time: 0.25s;

*,
*:before,
*:after {
	-moz-user-select: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#kai-root {
	position: absolute;
	right: 0;
	top: $statusbar-height;
	left: 0;
	bottom: 0;
}

#kai-view-container {
	opacity: 1;
	transition: opacity $animation-time linear;

	&.transitioning {
		opacity: 0;
	}
}

#kai-softkey-container {
	opacity: 1;
	background-color: #ccc;
	height: $softkey-height;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	transition: bottom $animation-time linear;

	&.hidden {
		bottom: -$softkey-height;
	}
}