@use "sass:math";
@import "dimens.scss";
@import "theme.scss";

$animation-time: 0.15s;

*,
*:before,
*:after {
	user-select: none;
	-moz-user-select: none;
	box-sizing: border-box;
}

body {
	@include theme {
		background-color: theme-value('background-color');
		color: theme-value('primary-color');
	}

	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#kai-root {
	@include theme {
		background-color: theme-value('background-color');
	}

	position: absolute;
	right: 0;
	top: dimens-value('statusbar-height');
	left: 0;
	bottom: 0;
	overflow: hidden;
}

#kai-view-container {
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: dimens-value('softkey-height');
	transition: opacity $animation-time linear, bottom $animation-time linear;

	 #kai-softkey-container.hidden ~ & {
		bottom: 0;
	}

	&.transitioning {
		opacity: 0;
	}

	.kai-view {
		position: relative;

		&.secondary .kai-view-header {
			padding-left: dimens-value('padding') * 3;
			text-align: left;
		}

		&.secondary .kai-view-header:after {
			content: '';
			position: absolute;
			top: 9px;
			left: 10px;
			width: 12px;
			height: 12px;
			border-width: 0 0 3px 3px;
			border-color: inherit;
			border-style: solid;
			transform: rotate(45deg);
		}

		.kai-view-header {
			line-height: 30px;
			height: 30px;
			padding: 0 dimens-value('padding');
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
		}

		.kai-view-content {
			position: absolute;
			right: 0;
			top: 30px;
			left: 0;
			bottom: 0;
			padding: dimens-value('padding');
			text-align: justify;
		}
	}
}

#kai-softkey-container {
	@include theme {
		background: linear-gradient(to bottom, theme-value('quaternary-color') 2px, theme-value('background-color') 2px, theme-value('background-color') 100%);
	}

	opacity: 1;
	height: dimens-value('softkey-height');
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	transition: bottom $animation-time linear;

	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-gap: math.div(dimens-value('padding'), 2);
	padding: 0 math.div(dimens-value('padding'), 2);

	&.hidden {
		bottom: -dimens-value('softkey-height');
	}

	label {
		max-width: 100%;
		line-height: dimens-value('softkey-height') + 2px;
	}

	label.kai-softkey-center {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
	}
}